{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@core/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/layout/(.*)$",
    "^@ui/(.*)$",
    "^@/providers/(.*)$",
    "^@/shared/(.*)$",
    "^@/assets/(.*)$",
    "^@/config/(.*)$",
    "^@/store/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^../(.*)",
    "^./(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
